<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Yours Media</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Share</th>
                    <th>Views</th>
                    <th>Shares</th>
                    <th>Thumbnail</th>
                    <th>Scope</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="media in manageVideo.media
                | startFrom:manageVideo.page.currentPage*manageVideo.page.numPerPage
                | limitTo:manageVideo.page.numPerPage
                | orderBy: '-createdAt'">
                    <td>{{media.title}}</td>
                    <td>{{media.summary}}</td>
                    <td><a ng-href="/player/{{media.id}}">{{manageVideo.baseUrl}}{{media.id}}</a></td>
                    <td>
                        <span ng-if="media.views == null">0</span><span ng-if="media.views">{{media.views}}</span>
                    </td>
                    <td>
                        <span ng-if="media.shares == null">0</span><span ng-if="media.views">{{media.shares}}</span>
                    </td>
                    <td><img ng-src="/rest/media/{{media.id}}/thumbnail" alt=""/></td>
                    <td>{{media.scope}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="manageVideo.update(media)">
                            Update
                        </button>
                        <button class="btn btn-danger" ng-click="manageVideo.mediaFactory.deleteMedia(media.id)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-hide="manageVideo.page.currentPage == 0"
                    ng-click="manageVideo.page.currentPage=manageVideo.page.currentPage-1">
                Previous
            </button>

            <span ng-hide="manageVideo.page.numberOfPages<=1">{{manageVideo.page.currentPage+1}}/{{manageVideo.page.numberOfPages}}</span>

            <button class="btn btn-default" ng-hide="manageVideo.page.numberOfPages-1<=manageVideo.page.currentPage"
                    ng-click="manageVideo.page.currentPage=manageVideo.page.currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>