* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #272C2E;
    font-weight: bold;
    color: #6B757D;
    font-size: 15px;

}

h1,
h2,
h3,
h4 {
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #c0c0c0;
}

/* Container */

.container-video {
    background-color: #000;
}

.media-informations {
    margin-top: 70px;
}

.form-mewpipe {
    background-color: #333333;
    padding: 30px 30px 30px 30px;
    border: solid 1px #c0c0c0;
    margin-top: 40px;
}

.form-mewpipe.form-account {
    box-shadow: 5px 5px 10px #111111;
}

.main .nav > li > a, .main .nav > li > a {
    color: #6B757D;
    background-color: inherit;
}

.main .nav > li > a:hover, .main .nav > li > a:hover {
    color: #fff;
}

.main {
    padding-top: 60px;
}

.header div {
    background-color: #FFFFFF;
    height: 65px;
}

.header .border {
    border-color: #F0F4F9;
}

.border {
    border-right: 1px solid #2A3134;
    border-left: 1px solid #2A3134;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 6px 6px 6px 20px;
}

.navbar-right {
    background: #EE3E3E;
}

.navbar-default .navbar-nav.navbar-right > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav.navbar-right > li > a:hover {
    color: #eee;
}

.navbar-default {
    color: #FFF;
    border: none;
}

.pointer {
    cursor: pointer;
}

.active {
    background-color: #222222;
}

.notif {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 200;
}

.notification {
    margin: 2px 0 0 0;
    clear: both;
    float: right;
    width: 500px;
    border-radius: 0;
}

.account {
    margin-top: 30px;
}

.has-success input {
    background-color: #c4ffcd;
}

.has-error input {
    background-color: #ffcdc0;
}

.drop-box {
    border: 5px dashed #DDD;
    width: 100% x;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.dragover {
    border: 5px dashed blue;
}

.input-share {
    margin-top: 15px;
    background-color: white;
}

.input-share:focus {
    border-color: #245269;
}

.btn.btn-share {
    color: #fff;
    background-color: #2b669a;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* Tables */

.table.table-bordered {
    background-color: #333333;
    color: #c0c0c0;
}

.table.table-bordered > thead > tr > th {
    background-color: #111111;
    color: #c0c0c0;
}

/* Thumbnails */

.thumb.thumbnail .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
}

.thumb.thumbnail .caption a {
    color: #2b669a;
}

.thumbnail {
    background-color: rgba(0, 0, 0, 0);
    width: 350px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    border: none;
    margin-top: 20px;
}

.thumb.thumbnail .caption h3 {
    color: #ffffff;
}

.thumb.thumbnail li:hover .caption {
    -moz-transform: translateY(120px);
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
}

.thumb figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

.thumb figcaption .glyphicon-thumb {
    font-size: 2em;
}

.thumb figcaption h3 {
    color: #ffffff;
    display: table-cell;
    font-size: 1.3em;
    position: relative;
    top: -40px;
    width: 340px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.thumb li:hover figcaption h3 {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.thumb li.color {
    border: 5px solid rgb(20, 52, 73);
    display: inline-block;
}

.thumb li {
    display: inline-block;
}

.thumb li:hover figcaption {
    opacity: 1;
}

.thumb img {
    display: block;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
}

.thumb figure {
    height: 190px;
    overflow: hidden;
    position: relative;
}

.thumb li:hover img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}