* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #272C2E;
    font-weight: bold;
    color: #6B757D;
    font-size: 15px;
}
html {
    border-bottom: 7px solid #EE3E3E;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 20px;
    color: #FFF;
}

hr {
    border-top: 1px solid #c0c0c0;
}

fieldset {
    margin: 10px;
    padding: 10px;
    background-color: #2B3134;
    border-radius: 6px;
}

/* Container */

.media p {
    font-size: 1em;
}

.description {
    margin-top: 20%;
}

.container-video {
    background-color: #000;
}

.media-informations {
    margin-top: 70px;
}

.form-mewpipe {
    padding: 30px 30px 30px 30px;
    border: solid 1px #c0c0c0;
    margin-top: 40px;
}

.main .nav > li > a, .main .nav > li > a {
    color: #6B757D;
    background-color: inherit;
}

.main .nav > li > a:hover, .main .nav > li > a:hover {
    color: #fff;
}

.main aside {
    padding-top: 60px;
}

.main aside .margin-before {
    margin-top: 15px;
}

.main > .border {
    background: white;
    min-height: 840px;
}

.main > .border h1,
.main > .border h2,
.main > .border h3,
.main > .border h4 {
    margin-bottom: 20px;
    color: #3378B8;
    font-weight: 300;
}

.pushTo45px {
    height: 45px;
    background: #1C2022;
    margin-left: -15px;
    margin-right: -15px;
}

.header div {
    background-color: #FFFFFF;
    height: 65px;
}

.header .border {
    border-color: #F0F4F9;
}

.border {
    border-right: 1px solid #2A3134;
    border-left: 1px solid #2A3134;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 6px 6px 6px 20px;
}

.navbar-right {
    background: #EE3E3E;
}

.navbar-default .navbar-nav.navbar-right > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav.navbar-right > li > a:hover {
    color: #eee;
}

.navbar-default {
    color: #FFF;
    border: none;
}

.pointer {
    cursor: pointer;
}

.active {
    background-color: #222222;
}

.notif {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 200;
}

.notification {
    margin: 2px 0 0 0;
    clear: both;
    float: right;
    width: 500px;
    border-radius: 0;
}

.account {
    margin-top: 30px;
}

.has-success input {
    background-color: #c4ffcd;
}

.has-error input {
    background-color: #ffcdc0;
}

.drop-box {
    border: 5px dashed #DDD;
    width: 100% x;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.dragover {
    border: 5px dashed blue;
}

.input-share {
    margin-top: 15px;
    background-color: white;
}

.input-share:focus {
    border-color: #245269;
}

.btn {
    font-size: 12px;
}

.btn.btn-share {
    color: #fff;
    background-color: #2b669a;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn:hover {
    transition: all .3s linear;
}
.btn.btn-danger:hover {
    box-shadow: 0 0 10px #EE3E3E inset;
    color: #FFF;
}
.btn.btn-primary:hover {
    box-shadow: 0 0 10px #286090 inset;
    color: #FFF;
}
.btn.btn-default:hover {
    color: #FFF;
}
.btn.btn-default,
.btn.btn-primary,
.btn.btn-danger {
    background: #30383B;
    color: #879099;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1px;
}

.form-control {
    background: #30383B;
    color: #879099;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: 0 2px 0 rgba(102, 175, 233, 0.6);
}

.has-success .form-control:focus {
    box-shadow: 0 2px 0 #67B168;
}

.has-error .form-control:focus {
    box-shadow: 0 2px 0 #CE8483;
}
/* Tables */

.table.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: rgba(255, 255, 255, 0.03);
}

.table.table-striped > thead > tr > th {
    color: #FFF;
}

.my-video-information {
    list-style-type: none;
    margin-top: 4%;
    margin-left: -10%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: rgba(0, 0, 0, 0.001);
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-bottom: none;
}

/* Thumbnails */

.thumb.thumbnail .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 300ms;
    transition-delay: 100ms;
}

.thumb.thumbnail .caption p {
    color: #2b669a;
    font-size: 10px;
    text-align: right;
    margin: 0;
}

.thumbnail {
    background-color: transparent;
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    border: none;
}

.thumb.thumbnail .caption h4 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thumb.thumbnail .caption h3 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
}

.thumb.thumbnail > div:hover .caption {
    transform: translateY(120px);
}

.thumb figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms;
    transition-delay: 100ms;
    z-index: 100;
}

.thumb figcaption .glyphicon-thumb {
    font-size: 2em;
}

.thumb figcaption h3 {
    color: #ffffff;
    display: table-cell;
    font-size: 1.3em;
    position: relative;
    top: -40px;
    width: 100%;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.thumb > div:hover figcaption h3 {
    transform: translateY(40px);
}

.thumb > div.color {
    border: 5px solid rgb(20, 52, 73);
    display: inline-block;
}

.thumb > div {
    display: inline-block;
    width: 100%;
}

.thumb > div:hover figcaption {
    opacity: 1;
}

.thumb .picture {
    display: block;
    transition: all 300ms;
    max-width: 100%;
}

.thumb figure {
    height: 190px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.thumb figure > a {
    display: block;
    width: 100%;
}

.thumb > div:hover .picture {
    transform: scale(1.4);
}

.thumb .picture {
    background: transparent no-repeat 50% 50%;
    background-size: cover;
    height: 190px;
    width: 100%;
}