<div ngf-drop ngf-select class="drop-box pointer" ngf-accept="upload.validate($file)"
     ngf-drag-over-class="dragover">
    Click or Drag your video here to upload
</div>
<h2>Upload your file</h2>
<form ng-if="upload.videoUrl" ng-submit="upload.upload()" name="form" class="form-horizontal" novalidate>
    <fieldset class="margin-cancel">
        <video style="display: none" type="video/mp4" id="video" ng-if="upload.videoUrl"
               ng-src="{{upload.videoUrl}}"></video>
        <canvas style="display: none" id="canvas"></canvas>
        <div class="form-group">
            <label for="title1" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title1" ng-model="upload.title">
            </div>
        </div>
        <div class="form-group">
            <label for="summary1" class="col-sm-2 control-label">Summary</label>
            <div class="col-sm-10">
                 <textarea name="summary" type="" class="form-control" id="summary1"
                           ng-model="upload.summary" placeholder="Summary"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="scope1" class="col-sm-2 control-label">Confidentiality</label>
            <div class="col-sm-10">
                <select id="scope1"
                        class="form-control"
                        ng-model="upload.mediaScope"
                        ng-options="s for s in upload.mediaScopes">
                </select>
            </div>
        </div>
        <div class="col-sm-offset-2">
            <div ng-show="upload.uploading" class="progress">
                <div class="progress-bar active"
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                     ng-style="{width: upload.prog+'%'}">
                    {{upload.prog}}% Complete
                </div>
            </div>
            <div ng-show="upload.playerUrl" class="panel panel-default">
                <a ng-href="/player/{{upload.playerUrl}}">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                    </button>
                </a>
            </div>
        </div>
        <div ng-show="!upload.uploading" class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!upload.canUpload">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                Upload
            </button>
        </div>
    </fieldset>
</form>