
<div class="container-video embed-responsive embed-responsive-16by9">
    <video ng-src="{{player.videoUrl}}" controls></video>
</div>
<h3>{{player.media.title}}</h3>
<div class="media-informations">
    <hr />
    <h4>by {{player.media.user.name.nickname}} | {{player.media.views}} views</h4>
    <hr />
    <button class="btn btn-default" ng-click="share=true"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</button>
    <input onclick="this.select();" name="share_url" class="input-share form-control" ng-show="share"
           ng-click="player.mediaFactory.mediaShare(player.media.id)"
           value="{{player.link}}">
</div>