<button class="btn btn-default" ng-hide="pagination.page.currentPage == 0"
        ng-click="pagination.page.currentPage=pagination.page.currentPage-1">
    Previous
</button>

<span ng-hide="pagination.page.numberOfPages<=1">{{pagination.page.currentPage+1}}/{{pagination.page.numberOfPages}}</span>

<button class="btn btn-default" ng-hide="pagination.page.numberOfPages-1<=pagination.page.currentPage"
        ng-click="pagination.page.currentPage=pagination.page.currentPage+1">
    Next
</button>