<div class="pushTo45px"></div>
<h2>Update User</h2>
<form ng-submit="updateUser.update()" name="form1" class="form-horizontal" novalidate>
    <fieldset class="margin-cancel">
        <div class="form-group"
             ng-class="{'has-error' : form1.email.$touched && form1.email.$invalid, 'has-success' : form1.email.$touched && form1.email.$valid}">
            <label class="col-sm-2" for="inputEmail1">Email</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail1" ng-model="updateUser.user.email"
                       placeholder="Email">

                <div ng-show="form1.email.$touched">
                    <span ng-show="form1.email.$error.email" class="help-block">Enter a valid email</span>
                </div>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : form1.nickname.$touched && form1.nickname.$invalid, 'has-success' : form1.nickname.$touched && form1.nickname.$valid}">
            <label class="col-sm-2" for="inputnickname1">Nickname</label>
            <div class="col-sm-10">
                <input type="text" name="Nickname" class="form-control" id="inputnickname1" ng-model="updateUser.user.name.nickname"
                       placeholder="nickname">
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : form1.firstname.$touched && form1.firstname.$invalid, 'has-success' : form1.firstname.$touched && form1.firstname.$valid}">
            <label class="col-sm-2" for="inputfirstname1">Firstname</label>
            <div class="col-sm-10">
                <input type="text" name="firstname" class="form-control" id="inputfirstname1" ng-model="updateUser.user.name.firstname"
                       placeholder="Firstname" >
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : form1.lastname.$touched && form1.lastname.$invalid, 'has-success' : form1.lastname.$touched && form1.lastname.$valid}">
            <label class="col-sm-2" for="inputlastname1">Lastname</label>
            <div class="col-sm-10">
                <input type="text" name="lastname" class="form-control" id="inputlastname1" ng-model="updateUser.user.name.lastname"
                       placeholder="nickname">
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : form1.password.$touched && form1.password.$invalid, 'has-success' : form1.password.$touched && form1.password.$valid}">
            <label class="col-sm-2" for="inputPassword1">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="inputPassword1" ng-model="updateUser.user.password"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : (form1.confirmPassword.$touched && form1.confirmPassword.$invalid) ||
                        (form1.confirmPassword.$touched && updateUser.user.confirmPassword != updateUser.user.password)
                        , 'has-success' : form1.password.$touched && form1.password.$valid && signUp.confirmPassword == signUp.password}">
            <label class="col-sm-2" for="inputPassword2">Confirm password</label>
            <div class="col-sm-10">
                <input name="confirmPassword" type="password" class="form-control" id="inputPassword2"
                       ng-model="updateUser.user.confirmPassword" placeholder="Confirm password">
                <div ng-show="form1.confirmPassword.$touched">
                        <span ng-show="signUp.confirmPassword != signUp.password"
                              class="help-block">Passwords don't match</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"
                ng-disabled="form1.$invalid || updateUser.user.confirmPassword != updateUser.user.password">Update
        </button>
    </fieldset>
</form>