<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{'active': dashboard.activeTab == 'profile'}"><a ng-click="dashboard.active('profile')" class="pointer">Profile</a></li>
            <li role="presentation" ng-class="{'active': dashboard.activeTab == 'video'}"><a ng-click="dashboard.active('video')" class="pointer">Manage Video</a></li>
        </ul>
    </div>
    <div class="row">
        <profile ng-if="dashboard.activeTab == 'profile'"></profile>
        <manage-video ng-if="dashboard.activeTab == 'video'"></manage-video>
    </div>
</div>
