<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div ngf-drop ngf-select class="drop-box pointer" ngf-accept="mngVideo.validate($file)"
                 ngf-drag-over-class="dragover">
                Click or Drag your video here to upload
            </div>
        </div>
    </div>
    <hr>
    <form ng-if="mngVideo.videoUrl" ng-submit="mngVideo.upload()" name="form" class="container" novalidate>
        <video style="display: none" type="video/mp4" id="video" ng-if="mngVideo.videoUrl"
               ng-src="{{mngVideo.videoUrl}}"></video>
        <canvas id="canvas" style="display: none"></canvas>
        <div class="form-group">
            <label for="title1" class="col-sm-2 control-label">Title</label>
            <input type="text" name="title" class="form-control" id="title1"
                   ng-model="mngVideo.title">
        </div>
        <div class="form-group">
            <label for="summary1" class="col-sm-2 control-label">Summary</label>
             <textarea name="summary" type="" class="form-control" id="summary1"
                       ng-model="mngVideo.summary" placeholder="Summary"></textarea>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        <div class="col-md-12">
            <div ng-show="mngVideo.uploading" class="progress">
                <div class="progress-bar progress-bar-striped active"
                     role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                     ng-style="{width: mngVideo.prog+'%'}">
                    {{mngVideo.prog}}% Complete
                </div>
            </div>
            <div ng-show="mngVideo.playerUrl" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Share your video</h3>
                </div>
                <div class="panel-body">
                    <a ng-link="player({id: mngVideo.playerUrl})">{{mngVideo.link}}</a>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <h3>Yours Media</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Share</th>
                    <th>Thumbnail</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="media in mngVideo.media | startFrom:mngVideo.page.currentPage*mngVideo.page.numPerPage | limitTo:mngVideo.page.numPerPage">
                    <td>{{media.title}}</td>
                    <td>{{media.summary}}</td>
                    <td><a ng-link="player({id: media.id})">{{mngVideo.baseUrl}}{{media.id}}</a></td>
                    <td><img ng-src="/rest/media/{{media.id}}/thumbnail" alt=""/></td>
                    <td>
                        <button class="btn btn-primary">
                            Update
                        </button>
                        <button class="btn btn-danger" ng-click="mngVideo.mediaFactory.deleteMedia(media.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-hide="mngVideo.page.currentPage == 0"
                    ng-click="mngVideo.page.currentPage=mngVideo.page.currentPage-1">
                Previous
            </button>

            <span ng-hide="mngVideo.page.numberOfPages<=1">{{mngVideo.page.currentPage+1}}/{{mngVideo.page.numberOfPages}}</span>

            <button class="btn btn-default" ng-hide="mngVideo.page.numberOfPages-1<=mngVideo.page.currentPage"
                    ng-click="mngVideo.page.currentPage=mngVideo.page.currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
</div>