<!DOCTYPE html>
<html ng-app="mewpipe" ng-controller="MainController as main">
<head lang="en">
    <meta charset="UTF-8">
    <title>Mewpipe</title>
    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="app/mewpipe.css"/>
    <link rel="stylesheet" ng-href="{{main.theme.url}}"/>
    <base href="/">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-link="home">Mewpipe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-link="home">Home</a></li>
                <li><a ng-link="player">Player</a></li>
                <li><a ng-show="main.user.accessToken" ng-link="dashboard">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false">Themes <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="pointer" ng-click="main.chooseTheme('default')">Default</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" ng-click="main.chooseTheme('slate')">Slate</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" ng-click="main.chooseTheme('cosmo')">Cosmo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false">Sign <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="pointer" ng-hide="main.user.accessToken" ng-click="main.logIn()">Sign In</a><a class="pointer" ng-show="main.user.accessToken" ng-click="main.logOut()">Sign Out</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer">Sign Up</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="notif">
    <div class="notification alert" ng-repeat="alert in main.alerts" ng-class="alert.type">
        <button type="button" class="close" ng-click="main.closeAlert($index)"><span aria-hidden="true">&times;</span></button>
        <div ng-bind-html="alert.msg"></div>
    </div>
</div>
<div ng-viewport></div>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/router.es5.js"></script>

<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="bower_components/videogular/videogular.min.js"></script>
<script src="bower_components/videogular-controls/vg-controls.min.js"></script>
<script src="bower_components/videogular-overlay-play/vg-overlay-play.min.js"></script>
<script src="bower_components/videogular-poster/vg-poster.min.js"></script>
<script src="bower_components/videogular-buffering/vg-buffering.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->

<script src="app/mewpipe.js"></script>
<script src="app/mewpipeServices.js"></script>
<script src="components/home/home.js"></script>
<script src="components/player/player.js"></script>
<script src="components/dashboard/dashboard.js"></script>

</body>
</html>