<!DOCTYPE html>
<html ng-app="mewpipe" ng-controller="MainController as main">
<head lang="en">
    <meta charset="UTF-8">
    <title>Mewpipe</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/app/mewpipe.css"/>
    <base href="/">
</head>
<body>
<nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-link="home"><img src="/img/logo.png" alt="MewPipe" height="40px"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-show="main.user.isAdmin" ng-link="adminPanel">Admin Panel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="/upload">Upload</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>
<div class="notif">
    <div class="notification alert" ng-repeat="alert in main.alerts" ng-class="alert.type">
        <button type="button" class="close" ng-click="main.closeAlert($index)"><span aria-hidden="true">&times;</span></button>
        <div ng-bind-html="alert.msg"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row main">
        <aside class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a ng-link="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li class="margin-before"><a ng-if="!main.user.accessToken" ng-href="/login/"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign</a></li>
                <li><a ng-show="main.user.accessToken" ng-href="/account/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My account</a></li>
                <li><a ng-show="main.user.accessToken" ng-href="/manage-video/"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> My videos</a></li>
                <li><a ng-show="main.user.accessToken" ng-href="/upload/"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</a></li>
                <li class="margin-before"><a ng-show="main.user.isAdmin" ng-link="adminPanel"><span class="glyphicon glyphicon-king" aria-hidden="true"></span> Administration</a></li>
                <li class="margin-before"><a class="pointer" ng-show="main.user.accessToken" ng-click="main.logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out</a></li>

            </ul>
        </aside>
        <div class="col-md-9 border"><div ng-viewport></div></div>
        <div class="col-md-1"></div>
    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/js/router.es5.js"></script>

<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/js/angular-cookies.min.js"></script>
<script src="/bower_components/videogular/videogular.min.js"></script>
<script src="/bower_components/videogular-controls/vg-controls.min.js"></script>
<script src="/bower_components/videogular-overlay-play/vg-overlay-play.min.js"></script>
<script src="/bower_components/videogular-poster/vg-poster.min.js"></script>
<script src="/bower_components/videogular-buffering/vg-buffering.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>

<script src="/app/mewpipe.js"></script>
<script src="/app/mewPipeController.js"></script>
<script src="/app/mewpipeServices.js"></script>
<script src="/components/home/home.js"></script>
<script src="/components/player/player.js"></script>
<script src="/components/admin-panel/admin-panel.js"></script>
<script src="/components/login/login.js"></script>
<script src="/components/upload/upload.js"></script>
<script src="/components/account/account.js"></script>
<script src="/components/manage-video/manage-video.js"></script>
<script src="/components/update-video/update-video.js"></script>
<script src="/components/update-user/update-user.js"></script>

</body>
</html>