<div ngf-drop ngf-select class="drop-box pointer" ngf-accept="updateVideo.validate($file)"
     ngf-drag-over-class="dragover">
    Click or Drag to change the binary
</div>
<div ng-show="updateVideo.uploading" class="progress-bar-update progress">
    <div class="progress-bar active"
         role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
         ng-style="{width: updateVideo.prog+'%'}">
        {{updateVideo.prog}}% Complete
    </div>
</div>
<div class="col-md-offset-9 col-md-3 text-right">
    <div ng-show="updateVideo.playerUrl">
        <a ng-href="/player/{{updateVideo.playerUrl}}">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
            </button>
        </a>
    </div>
    <button ng-show="updateVideo.playerUrl" class="btn btn-default" ng-click="share=true"><span
            class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
    </button>
    <input onclick="this.select();" name="share_url" class="input-share form-control" ng-show="share"
           ng-click="updateVideo.mediaFactory.mediaShare(updateVideo.id)"
           value="{{updateVideo.link}}">
</div>
<video style="display: none" type="video/mp4" id="video" ng-if="updateVideo.videoUrl"
       ng-src="{{updateVideo.videoUrl}}"></video>
<canvas style="display: none" id="canvas"></canvas>
<h2>Update your video</h2>
<form ng-if="updateVideo.media" ng-submit="updateVideo.update()" name="form" class="form-horizontal" novalidate>
    <fieldset class="margin-cancel">
        <div class="form-group">
            <label for="title1" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title1"
                       ng-model="updateVideo.media.title">
            </div>
        </div>
        <div class="form-group">
            <label for="summary1" class="col-sm-2 control-label">Summary</label>
            <div class="col-sm-10">
                 <textarea name="summary" type="" class="form-control" id="summary1"
                           ng-model="updateVideo.media.summary" placeholder="Summary"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="scope1" class="col-sm-2 control-label">Confidentiality</label>
            <div class="col-sm-10">
                <select id="scope1"
                        class="form-control"
                        ng-model="updateVideo.media.scope"
                        ng-options="s for s in updateVideo.mediaScopes">
                </select>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </fieldset>
</form>