<div ngf-drop ngf-select class="drop-box pointer" ngf-accept="updateVideo.validate($file)"
     ngf-drag-over-class="dragover">
    Click or Drag to change the binary
</div>
<div ng-show="updateVideo.uploading" class="progress">
    <div class="progress-bar progress-bar-striped active"
         role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
         ng-style="{width: updateVideo.prog+'%'}">
        {{updateVideo.prog}}% Complete
    </div>
</div>
<div ng-show="updateVideo.playerUrl" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Share your video</h3>
    </div>
    <div class="panel-body">
        <a ng-href="/player/{{updateVideo.playerUrl}}">{{updateVideo.link}}</a>
    </div>
</div>
<video style="display: none" type="video/mp4" id="video" ng-if="updateVideo.videoUrl"
       ng-src="{{updateVideo.videoUrl}}"></video>
<canvas style="display: none" id="canvas"></canvas>
<h2>Update your video</h2>
<form ng-if="updateVideo.media" ng-submit="updateVideo.update()" name="form" class="form-horizontal" novalidate>
    <fieldset class="margin-cancel">
        <div class="form-group">
            <label for="title1" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title1"
                       ng-model="updateVideo.media.title">
            </div>
        </div>
        <div class="form-group">
            <label for="summary1" class="col-sm-2 control-label">Summary</label>
            <div class="col-sm-10">
                 <textarea name="summary" type="" class="form-control" id="summary1"
                           ng-model="updateVideo.media.summary" placeholder="Summary"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="scope1" class="col-sm-2 control-label">Confidentiality</label>
            <div class="col-sm-10">
                <select id="scope1"
                        class="form-control"
                        ng-model="updateVideo.media.scope"
                        ng-options="s for s in updateVideo.mediaScopes">
                </select>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </fieldset>
</form>